body{
    background-image: url("/images/bgimage.jpg");
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;
}

.center{
    margin: 0 20%;
    padding: 20px;
    padding-top: 100px;
    background-color: rgb(210, 210, 210);
}

@media (max-width: 800px) {
    
    .no-display{
        display: none;
    }

    .center{
        margin: 0;
        padding: 10px;
        padding-top: 10%;
    }
}

@media (max-width: 500px){
    
    .center{
    padding-top: 20%;
    }
}